@model IEnumerable<Category>

	<nav class="menu">
	<a class="menu-link" href="@Url.Action("FilmsList","Films")">Wszystkie</a>
	@foreach(var category in Model)
	{
		<a class="menu-link" href="@Url.Action("FilmsList","Films",new {categoryName=category.Name})">@category.Name</a>
	}
	<div class="input-group menu-link">
		@using (Html.BeginForm("Search", "Films"))
		{
			@Html.TextBox("term")
			<button type="submit" class="btn btn-outline-light">Wyszukaj</button>
		}
	</div>

	<a class="menu-link" href="@Url.Action("Index","Cart")">Koszyk</a>
</nav>